body{
    font-family: 'Merriweather', serif;
    font-size: small;
    background-image: url(https://wallpaperaccess.com/full/1686771.jpg);
    background-position: center;
    background-repeat: no-repeat;
}


/* <!-- Section logo and title --> */

.topimg-text img{
    width: 200px;
}